doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    p #{data}
    iframe(src="https://www.google.com/maps/d/embed?mid=1aB48CKVkTMJuJK70P6sdQ3kwkzlGu2s&ehbc=2E312F", frameborder="0",width="1000",height="1000") 